.list{
    display: flex;
    width: 100%;

    .listContainer{
        flex: 6;
        .buttonContent{

            display: flex;

            button{
                width: 140px;
                padding: 10px;
                border: none;
                background-color: rgb(21, 197, 197);
                color: blue;
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
                margin-left: 20px;
                margin-top: 20px;

                &:hover{
                    background-color: rgba(240, 180, 70, 0.842);
                    color: white;
                }
            }
            
        }
        .datatable{
            height: 600px;
            padding: 20px;
        
            .cellAction{
                display: flex;
                align-items: center;
                gap: 10px;
        
                .editButton{
                    padding: 5px;
                    color: darkblue;
                    border-radius: 5px;
                    margin: 5px;
                    border: 1px dotted rgba(0, 0, 139, 0.562);
                }
                .deleteButton{
                    padding: 5px;
                    color: crimson;
                    border-radius: 5px;
                    margin: 5px;
                    border: 1px dotted rgb(180, 7, 42);
                    cursor: pointer;
                }
            }
        }
        
        .feeStatus{
            padding: 5px;
            border-radius: 5px;
        
            &.Paid{
                color: green;
            }
            &.Unpaid{
                color: goldenrod;
            }
        }
    }
}